In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df =pd.read_csv("/content/drive/MyDrive/ML Dataset/Practo/practo_cleandata.csv")

In [ ]:
df

,Unnamed: 0,Name,Degree,Specialization,Experience,Location,City,Recommendation,Feedback,Fees
0,0,Dr. Sourabh Nagpal,BDS,Dentist,17,Vasant Vihar,Delhi,99,623,500
1,1,Dr. Meeka Gulati,BDS,Dentist,15,Janakpuri,Delhi,97,108,500
2,2,Dr. Aparna Singhal,BDS,Dentist,14,Punjabi Bagh,Delhi,98,96,300
3,3,Dr. Prashant Ojha,MDS,Dentist,16,Saket,Delhi,92,104,300
4,4,Dr. Anukriti Bansal Aggarwal,BDS,Dentist,10,Rohini Sector 18,Delhi,10,74,400
...,...,...,...,...,...,...,...,...,...,...
5022,5053,Dr. Sreesha N,MBBS,Dentist,18,Yelahanka New Town,Bangalore,10,10,300
5023,5054,Dr. Roshan Varghese,MBBS,Dentist,14,Horamavu,Bangalore,10,55,300
5024,5055,Dr. Vinayak Raghunathan,MBBS,Dentist,14,JP Nagar,Bangalore,10,145,500
5025,5056,Dr. Idris Md,MBBS,Dentist,13,Jayanagar 5 Block,Bangalore,99,131,300
5026,5057,Dr. Prahlad Shenava,MBBS,Dentist,12,Whitefield,Bangalore,98,58,300

In [ ]:
df.drop(columns = "Unnamed: 0", inplace=True)

In [ ]:
df

,Name,Degree,Specialization,Experience,Location,City,Recommendation,Feedback,Fees
0,Dr. Sourabh Nagpal,BDS,Dentist,17,Vasant Vihar,Delhi,99,623,500
1,Dr. Meeka Gulati,BDS,Dentist,15,Janakpuri,Delhi,97,108,500
2,Dr. Aparna Singhal,BDS,Dentist,14,Punjabi Bagh,Delhi,98,96,300
3,Dr. Prashant Ojha,MDS,Dentist,16,Saket,Delhi,92,104,300
4,Dr. Anukriti Bansal Aggarwal,BDS,Dentist,10,Rohini Sector 18,Delhi,10,74,400
...,...,...,...,...,...,...,...,...,...
5022,Dr. Sreesha N,MBBS,Dentist,18,Yelahanka New Town,Bangalore,10,10,300
5023,Dr. Roshan Varghese,MBBS,Dentist,14,Horamavu,Bangalore,10,55,300
5024,Dr. Vinayak Raghunathan,MBBS,Dentist,14,JP Nagar,Bangalore,10,145,500
5025,Dr. Idris Md,MBBS,Dentist,13,Jayanagar 5 Block,Bangalore,99,131,300
5026,Dr. Prahlad Shenava,MBBS,Dentist,12,Whitefield,Bangalore,98,58,300

In [ ]:
for column in df.columns:
  print(df[column].value_counts())
  print("-"*20)

Dr. Mutyalatha Koppula       6
Dr. Garima Sharma            5
Dr. Pannam Sharma            4
Dr. Chandrashekar            4
Dr. Pooja Gupta              4
                            ..
Dr. Karishma Bhate-Chavan    1
Dr. Pavitra Shanbhag Bhat    1
Dr. A. K. Tandon             1
Dr. Pallavi Bipte            1
Dr. Prahlad Shenava          1
Name: Name, Length: 4217, dtype: int64
--------------------
MBBS             3170
BDS               730
BPTh/BPT          236
MD                187
MS                152
MDS                97
DNB                90
Diploma            40
MPTh/MPT           31
BSc                30
DM                 28
MCh                28
DGO                28
M.D                24
Post               24
MSc                23
M.Sc               14
Masters            12
Doctor              9
DDVL                8
FCPS                6
B.Sc                6
DPM                 5
DO                  4
Fellow              3
BHMS                3
FRCS                3
PhD                 3
MRCOG(UK)           3
PGD                 3
BAMS                3
BNYS                2
FRCP                2
PG                  2
Certificate         2
DOMS                2
P.G                 2
Doctorate           2
MRCS                1
CCT                 1
DDV                 1
Certification       1
Member              1
DNHE                1
DHMS                1
FNB                 1
Ph.D                1
Fellowship          1
Name: Degree, dtype: int64
--------------------
Dentist                      826
Gynecologist/Obstetrician    754
Pediatrician                 467
Orthopedist                  433
Infertility Specialist       400
Dermatologist                361
Physiotherapist              293
Ophthalmologist              277
Cardiologist                 195
Psychiatrist                 165
Urologist                    151
Gastroenterologist           132
Dietitian/Nutritionist       127
Neurosurgeon                 119
Neurologist                  106
Pulmonologist                 96
Bariatric Surgeon             77
Rheumatologist                41
Chiropractor                   7
Name: Specialization, dtype: int64
--------------------
14    292
12    292
13    267
11    238
16    236
     ...
60      2
63      1
61      1
58      1
57      1
Name: Experience, Length: 61, dtype: int64
--------------------
Whitefield           126
Sarita Vihar         124
Bannerghatta Road    124
Indiranagar          105
HSR Layout           104
                    ...
Patel Nagar East       1
Kurla                  1
Cumballa Hill          1
Dwarka Sector 17       1
Khanpur                1
Name: Location, Length: 403, dtype: int64
--------------------
Bangalore    2041
Delhi        1674
Mumbai       1312
Name: City, dtype: int64
--------------------
10    1552
0      590
99     400
98     400
97     338
      ...
52       1
59       1
47       1
20       1
58       1
Name: Recommendation, Length: 62, dtype: int64
--------------------
0      771
1      277
2      201
3      162
5      140
      ...
701      1
388      1
381      1
173      1
231      1
Name: Feedback, Length: 386, dtype: int64
--------------------
1000    622
500     616
800     457
600     399
1500    372
       ...
480       1
670       1
1900      1
4100      1
669       1
Name: Fees, Length: 73, dtype: int64
--------------------

In [ ]:
degree_count = df['Degree'].value_counts()
degree_count_less_3 = degree_count[degree_count <=3]
df['Degree'] = df['Degree'].apply(lambda x: 'other' if x in degree_count_less_3 else x)

In [ ]:
Location_count = df['Location'].value_counts()
Location_count_less_3 = Location_count[Location_count <=3]
df['Location'] = df['Location'].apply(lambda x: 'other' if x in Location_count_less_3 else x)

In [ ]:
df['Location'].value_counts()

other                332
Whitefield           126
Sarita Vihar         124
Bannerghatta Road    124
Indiranagar          105
                    ...
Cuffe Parade           4
JB Nagar               4
Prashant Vihar         4
Nirman Vihar           4
Shakti Nagar           4
Name: Location, Length: 215, dtype: int64

In [ ]:
df.drop(columns='Name', inplace=True)

In [ ]:
df.head()

,Degree,Specialization,Experience,Location,City,Recommendation,Feedback,Fees
0,BDS,Dentist,17,Vasant Vihar,Delhi,99,623,500
1,BDS,Dentist,15,Janakpuri,Delhi,97,108,500
2,BDS,Dentist,14,Punjabi Bagh,Delhi,98,96,300
3,MDS,Dentist,16,Saket,Delhi,92,104,300
4,BDS,Dentist,10,Rohini Sector 18,Delhi,10,74,400

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5027 entries, 0 to 5026
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Degree          5027 non-null   object
 1   Specialization  5027 non-null   object
 2   Experience      5027 non-null   int64
 3   Location        5027 non-null   object
 4   City            5027 non-null   object
 5   Recommendation  5027 non-null   int64
 6   Feedback        5027 non-null   int64
 7   Fees            5027 non-null   int64
dtypes: int64(4), object(4)
memory usage: 314.3+ KB

In [ ]:
X= df.drop(columns='Fees')
Y = df['Fees']

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score

In [ ]:
X_train,X_test,Y_train,Y_test =train_test_split(X,Y, test_size=0.2,random_state=45)

In [ ]:
X_train.shape

(4021, 7)

In [ ]:
Y_train.shape

(4021,)

Apply Linear Regression

In [ ]:
column_trans = make_column_transformer((OneHotEncoder(sparse=False),['Degree',	'Specialization','Location',	'City']),remainder='passthrough')

In [ ]:
column_trans

ColumnTransformer(remainder='passthrough',
                  transformers=[('onehotencoder', OneHotEncoder(sparse=False),
                                 ['Degree', 'Specialization', 'Location',
                                  'City'])])

In [ ]:
scaler = StandardScaler()

In [ ]:
lr = LinearRegression()

In [ ]:
pipe =make_pipeline(column_trans,scaler,lr)

In [ ]:
pipe.fit(X_train,Y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['Degree', 'Specialization',
                                                   'Location', 'City'])])),
                ('standardscaler', StandardScaler()),
                ('linearregression', LinearRegression())])

In [ ]:
X_test

,Degree,Specialization,Experience,Location,City,Recommendation,Feedback
4769,BDS,Gynecologist/Obstetrician,31,Lajpat Nagar,Delhi,10,27
1891,MBBS,Gastroenterologist,15,Bannerghatta Road,Bangalore,0,0
633,DNB,Psychiatrist,34,Sarita Vihar,Delhi,57,6
1756,MBBS,Psychiatrist,8,Dadar,Mumbai,10,1
4992,MBBS,Dentist,16,Janakpuri,Delhi,99,95
...,...,...,...,...,...,...,...
667,MBBS,Neurologist,30,Sarita Vihar,Delhi,10,7
4969,MBBS,Dentist,8,Mira Bhayandar,Mumbai,10,3
4752,MBBS,Gynecologist/Obstetrician,13,Cunningham Road,Bangalore,98,24
2798,MBBS,Dermatologist,18,Whitefield,Bangalore,96,24
2426,MD,Physiotherapist,10,Mulund West,Mumbai,93,6

In [ ]:
Y_pred_lr= pipe.predict(X_test)

In [ ]:
pipe.predict(X_test)

array([ 706.16339133,  833.33979096, 1995.93947993, ...,  446.48854684,
        792.23854684, 1045.18947993])

In [ ]:
r2_score(Y_test,Y_pred_lr)

0.5682510985040732

Importing Pickle

In [ ]:
import pickle

In [ ]:
pickle.dump(pipe, open('LinearModel.pkl','wb'))

In [ ]:
pipe = pickle.load(open('./LinearModel.pkl','rb'))

In [ ]:
pipe.predict(pd.DataFrame([{"Degree":'BDS', "Specialization":'Dentist', "Experience": 17, "Location": 'other', "City": 'Delhi',"Recommendation": 99, "Feedback": 623 }]))[0]

490.57928793008347